body {
  font-family: 'Biotif', sans-serif;
}

.swiper-container {
  overflow: hidden;
  position: relative;
}

.more-btn {
  font-size: rem(24);
  line-height: 0.83;
  letter-spacing: em(-0.24, 24);
  color: #fff;
  border-radius: rem(100);
  background-color: #1da0df;
  height: rem(60);
  padding: 0 rem(38) 0 rem(40);
  margin-top: 2rem;

  @include mq-lg {
    margin-top: rem(20);
    height: rem(54);
    font-size: rem(18);
    padding: 0 rem(32);
  }

  @include mq-x-sm{
    font-size: 1rem;
    margin-top: rem(26);
  }

  &:hover {
    background-color: darken(#1da0df, 10%);
  }

  &.isActive {
    background-color: #96a8c7;

    &:hover {
      background-color: darken(#96a8c7, 10%);
    }
  }
}

.clutch-widget {
  max-width: rem(447);
  width: 27%;
  align-self: flex-start;
  margin-left: auto;
  padding: rem(36) rem(36) rem(34) 3rem;
  border-radius: rem(10);
  background-color: #242b4d;
  display: flex;
  flex-wrap: wrap;

  @include mq-x-xl {
    max-width: rem(930);
    width: calc(100% - 15.4375rem - 5.41667vw);
    margin-top: rem(60);
  }

  @include mq-lg {
    width: calc(100% - 12.5rem - 5.41667vw);
    padding: rem(25) rem(25) rem(26) rem(34);

    .icon {
      max-width: rem(79);
    }
  }

  @include mq-sm {
    width: 100%;
    max-width: none;
    margin-top: rem(53);
  }

  @include mq-x-sm {
    width: calc(100% + 2.5rem);
    border-radius: 0;
    margin-left: rem(-20);
    margin-right: rem(-20);
    padding: 1.5rem 1.25rem;

    .icon {
      max-width: rem(71);
    }
  }

  .label {
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.32px;
    color: #7e92b4;
    margin-bottom: rem(12);
    text-transform: uppercase;

    @include mq-lg {
      font-size: rem(11);
      margin-bottom: rem(8);
    }

    @include mq-x-sm {
      font-size: rem(10);
      line-height: 1;
    }
  }

  .target-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(76);
    height: rem(76);
    background-color: #fff;
    border-radius: 50%;
    margin-left: auto;

    &:hover {
      box-shadow: 0 0 20px rgba(#fff, .25);
    }

    @include mq-lg {
      width: rem(53);
      height: rem(53);

      img {
        width: 1rem;
      }
    }

    @include mq-x-sm {
      width: 3rem;
      height: 3rem;

      img {
        width: rem(14);
      }
    }
  }

  .clutch-rate {
    margin-top: rem(55);
    width: 100%;
    text-align: center;

    .stars {
      margin: 0 auto;
    }

    @include mq-lg {
      margin-top: rem(24);

      .stars {
        max-width: 10rem;
      }
    }

    @include mq-x-sm {
      .stars {
        max-width: rem(138);
      }
    }

    .number {
      font-size: rem(89);
      font-weight: 500;
      line-height: 1.045;
      letter-spacing: em(-4.45, 89);
      color: #fff;
      margin-bottom: rem(4);

      @include mq-lg {
        font-size: rem(62);
        margin-bottom: rem(2);
      }

      @include mq-x-sm {
        font-size: rem(54);
        margin-bottom: 0;
      }
    }

    .label {
      margin: rem(20) 0 rem(66);

      @include mq-lg {
        margin: rem(14) 0 rem(60);
      }

      @include mq-x-sm {
        margin-bottom: rem(44);
      }
    }

    span {
      font-size: rem(18);
      line-height: 1.33;
      color: #2bb451;
      position: relative;
      padding-left: em(27, 18);

      @include mq-lg {
        font-size: rem(12);
      }

      &::before {
        @include bf-af;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.6' height='18.6' viewBox='0 0 18.6 18.6'%3E%3Cg data-name='Group 6706'%3E%3Cpath data-name='Path 6704' d='M-248.286-81.641c.02.006 4.149 3.282 4.149 3.282l7.414-8.346' transform='translate(253.438 89.756)' style='fill:none;stroke:%233db256;stroke-miterlimit:10;stroke-width:1.6px'/%3E%3Cpath data-name='Path 6705' d='M-239.293-84.563a8.413 8.413 0 0 1 .324 2.33 8.5 8.5 0 0 1-8.5 8.5 8.5 8.5 0 0 1-8.5-8.5 8.5 8.5 0 0 1 8.5-8.5 8.436 8.436 0 0 1 4.191 1.107' transform='translate(256.769 91.533)' style='fill:none;stroke:%233db256;stroke-miterlimit:10;stroke-width:1.6px'/%3E%3C/g%3E%3C/svg%3E%0A");
        width: 1em;
        height: 1em;
        @include bg-set(100%);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

.testimonials {
  padding: rem(140) 0 rem(180);
  background-color: #fafbfc;

  .testimonials-pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: none;
    span{
      font-size: rem(13);
      line-height: 2.31;
      color: #353c5e;
    }
    @include mq-sm{
      display: flex;
    }
  }

  .testimonials-progress{
    position: static;
    width: calc(100% - 3.75rem);
    background-color: #dee6f5;
    span{
      background-color: #353c5e;
    }
  }

  @include mq-lg {
    padding: rem(74) 0 rem(100);
  }

  @include mq-sm {
    .testimonials-swiper{
      padding-bottom: rem(50);
      > .testimonials-content-head{
        display: none;
      }
    }
  }

  @include mq-x-sm {
    padding: rem(56) 0 0;
  }

  &-prev-button,
  &-next-button {
    width: rem(47);
    height: rem(47);
    background-color: #353c5e;
    border-radius: 50%;
    transition: .3s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve' fill='%23fff'%3E%3Cpath id='XMLID_222_' d='M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z'/%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    @include bg-set(1rem);

    &:hover {
      background-color: darken(#353c5e, 10%);
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    @include mq-lg {
      width: rem(40);
      height: rem(40);
    }
    @include mq-sm{
      display: none;
    }
  }

  &-prev-button {
    margin-right: rem(20);
    transform: rotate(180deg);

    @include mq-lg {
      margin-right: 1rem;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(1920);
    padding: 0 rem(93) 0 rem(92);
    margin: 0 auto;

    @include mq-lg {
      padding: 0 rem(60);
    }

    @include mq-md {
      padding: 0 rem(32);
    }
    @include mq-sm{
      align-items: flex-start;
    }

    @include mq-x-sm {
      padding: 0 rem(20);
    }
  }

  &-authors {
    width: rem(247);
    @include responsive-property('margin-right', 104);

    @include mq-lg {
      width: rem(200);
      margin-right: rem(52);
    }

    @include mq-sm {
      width: 100%;
      margin-right: 0;
      margin-bottom: rem(35);
    }

    &-item {
      background-color: #fafbfc;
      height: auto;

      @include mq-sm {
        display: flex;
        align-items: center;
      }

      .photo {
        width: rem(96);
        height: rem(96);
        background-color: #cdd0db;
        margin-bottom: rem(30);

        @include mq-lg {
          margin-bottom: rem(24);
        }

        @include mq-sm {
          margin-right: 1rem;
          margin-bottom: 0;
        }
        @include mq-x-sm{
          width: 4rem;
          height: 4rem;
        }
      }

      .name {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        @include mq-x-sm{
          margin-bottom: rem(10);
        }

        span {
          font-size: rem(28);
          font-weight: 600;
          line-height: 1.29;
          color: #242b4d;
          margin-right: rem(15);

          @include mq-lg {
            font-size: rem(24);
          }
          @include mq-x-sm{
            font-size: rem(18);
            line-height: 1;
          }
        }

        a {
          display: inline-block;
        }
      }

      .position {
        font-size: rem(18);
        font-weight: 500;
        line-height: 1.33;
        color: #7e92b4;
        border-bottom: rem(1) solid #dee6f5;
        padding-bottom: rem(21);
        margin-bottom: rem(21);

        @include mq-lg {
          font-size: rem(14);
        }

        @include mq-sm {
          padding-bottom: 0;
          margin-bottom: 0;
          border: 0;
        }
      }

      .company-logo {
        max-width: 81%;

        @include mq-sm {
          display: none;
        }
      }
    }
  }

  &-content {
    max-width: rem(700);
    width: 40%;

    @include mq-x-xl {
      flex: 1;
      max-width: none;
    }

    &-head {
      display: flex;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: rem(1) solid #b7becc;
      margin-bottom: 2rem;

      @include mq-lg {
        padding-bottom: rem(14);
        margin-bottom: 1.5em;
      }
      @include mq-x-sm{
        margin-bottom: 1.25rem;
      }

      .company-logo{
        max-width: rem(131);
      }

      .icon {
        margin-right: auto;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.03;
        color: #fe3b1f;

        @include mq-lg {
          font-size: rem(44);
        }
        @include mq-x-sm{
          font-size: rem(36);
        }
      }
    }

    &-item {
      .testimonials-content-head{
        display: none;
        @include mq-sm{
          display: flex;
        }
      }
      .content {
        font-size: 1.5rem;
        line-height: 1.5;
        color: #45649a;
        position: relative;
        max-height: rem(295);
        overflow: hidden;
        transition: .3s ease-in-out;

        @include mq-lg {
          font-size: rem(18);
        }

        @include mq-x-sm{
          font-size: rem(14);
        }

        &::after {
          @include bf-af;
          width: 100%;
          height: em(76, 24);
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom, rgba(250, 251, 252, 0), #fafbfc);
          opacity: 0;
          transition: .3s ease-in-out;
        }

        &.oversize {
          &::after {
            opacity: 1;
          }
        }

        &.full {
          max-height: rem(500);

          &::after {
            opacity: 0;
          }
        }

        p {
          &:not(:last-of-type) {
            margin-bottom: em(30, 24);
            @include mq-x-sm{
              margin-bottom: rem(18);
            }
          }
        }
      }

      .more-btn {
        display: none;

        &.show {
          display: inline-block;
        }
      }
    }
  }
}